#!/bin/bash
# http://www.centos.org/modules/tinycontent/index.php?id=22
set -e

source='{{ centos_mirror_source }}'
destination='{{ mirror_doc_root }}/CentOS/'
sourcets=curls -s '{{ centos_mirror_source }}/CentOS/7/os/x86_64/repodata/repomd.xml|grep -m1 timestamp'
destts='grep -m1 timestamp {{ mirror_doc_root }}/CentOS/7/os/x86_64/repodata/repomd.xml'
diff = $(($sourcets - $destts))
if [diff -gt 172800]; then
    lockfile=/tmp/$(basename "${destination}").lock

    if mkdir "$lockfile" 2>/dev/null; then
        trap 'rm -rf "$lockfile"' EXIT

        timeout 1d rsync -avH    \
              --delay-updates    \
              --exclude '.~tmp~' \
              --human-readable   \
              --progress         \
              --stats            \
              --safe-links       \
              --itemize-changes  \
              --exclude 'repodata/*' \
              "${source}" "${destination}"

        timeout 1d rsync -avH    \
              --delete           \
              --delete-after     \
              --delay-updates    \
              --exclude '.~tmp~' \
              --human-readable   \
              --progress         \
              --stats            \
              --safe-links       \
              --itemize-changes  \
              --timeout=10800    \
              "${source}" "${destination}"

        date +%s > {{ mirror_timestamp_dir }}/centos

    else
        cat <<EOF 1>&2
    ERROR: Another rsync is already running and has the lock file
    $lockfile.
    EOF

    fi
fi
